ALUA_AGENT_ID=alua:1
ALUABRIDGE_URL=http://127.0.0.1:8787
ALUA_AGENT_TOKEN=replace-with-a-random-token-at-least-32-characters
ALUA_DB_PATH=../data/alua-1/alua.sqlite3
ALUA_POLL_INTERVAL=0.25
ALUA_REQUEST_TIMEOUT=2.0
